body {
    margin: 0;
}

.wrapper {
    width: 100%;
}

header {
    background-color: aqua;
    position: relative;
    display: block;
    width: 100%;
}

header nav{
    display: block;
    position: relative;
}

header nav h1 {
    margin: 0;
    padding: 1vh;
    font-size: xx-large;
    text-align: center;
}

header nav .collapsible {
    @media only screen and (min-width:1200) {
        position: fixed;

    }
}